<!-- Modal Suppression -->
<div class="modal fade" id="deleteAppModal">
  <div class="modal-dialog">
    <form id="deleteAppForm" class="modal-content">
      <input type="hidden" id="deleteApp_id">
      <div class="modal-header bg-danger text-white"><h5>Confirmer la suppression</h5></div>
      <div class="modal-body">
        <p>Voulez-vous vraiment supprimer cette appréciation ?</p>
        <p id="deleteApp_info" class="fw-bold text-danger"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" type="button">Annuler</button>
        <button class="btn btn-danger rounded-pill" type="submit">Supprimer</button>
      </div>
    </form>
  </div>
</div>