<!-- Modal Edition -->
<div class="modal fade" id="editAppModal">
  <div class="modal-dialog">
    <form id="editAppForm" class="modal-content needs-validation" novalidate>
      <input type="hidden" name="id" id="editApp_id">
      <div class="modal-header"><h5>Modifier une appréciation</h5></div>
      <div class="modal-body">
        <input id="editApp_libelle" name="libelle" class="form-control mb-2" placeholder="Libelle" required>
        <input id="editApp_description" name="description" class="form-control mb-2" placeholder="Description" required>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Annuler</button>
        <button class="btn btn-warning rounded-pill">Modifier</button>
      </div>
    </form>
  </div>
</div>