<!-- detail_ens.html -->
<div class="modal fade" id="detailEnsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Détails Enseignant</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="detailEnsContent">
        <!-- Le JS remplira ce contenu -->
      </div>
    </div>
  </div>
</div>