<div class="modal fade" id="addModal">
  <div class="modal-dialog">
    <form id="addForm" class="modal-content needs-validation" novalidate>
      <div class="modal-header"><h5>Ajouter un élève</h5></div>
      <div class="modal-body">
        <input name="matricule" class="form-control mb-2" placeholder="Matricule" required>
        <input name="nom" class="form-control mb-2" placeholder="Nom" required>
        <input name="prenoms" class="form-control mb-2" placeholder="Prénoms" required>
        <input type="date" name="date_naissance" class="form-control mb-2" required placeholder="date de naissance">
        <select name="sexe" class="form-control mb-2" required>
          <option value="">-- Sexe --</option>
          <option>Masculin</option>
          <option>Féminin</option>
        </select>
        <select name="status" class="form-control mb-2" required>
          <option value="">-- Status --</option>
          <option>Nouveau</option>
          <option>Ancien</option>
        </select>
        <select name="classe" class="form-control mb-2" required>
          <option value="">-- Classe --</option>
          <option>6èm</option>
          <option>5èm</option>
          <option>4èm</option>
          <option>3èm</option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button class="btn btn-success" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
