<!-- Modal Edition -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <form id="editForm" class="modal-content needs-validation" novalidate>
      <input type="hidden" name="id" id="edit_id">
      <div class="modal-header"><h5>Modifier un élève</h5></div>
      <div class="modal-body">
        <input id="edit_matricule" name="matricule" class="form-control mb-2" placeholder="Matricule" required>
        <input id="edit_nom" name="nom" class="form-control mb-2" placeholder="Nom" required>
        <input id="edit_prenoms" name="prenoms" class="form-control mb-2" placeholder="Prénoms" required>
        <input type="date" id="edit_date_naissance" name="date_naissance" class="form-control mb-2" required>
        <div class="mb-3">
            <label class="form-label">Sexe</label><br>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexe" id="sexeM" value="M" required>
            <label class="form-check-label" for="sexeM">Masculin</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexe" id="sexeF" value="F">
          <label class="form-check-label" for="sexeF">Féminin</label>
      </div>
      </div>
      <div class="mb-3">
          <label class="form-label">Status</label><br>
          <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="status" id="statusNouveau" value="Nouveau" checked>
          <label class="form-check-label" for="statusNouveau">Nouveau</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="status" id="statusAncien" value="Ancien">
          <label class="form-check-label" for="statusAncien">Ancien</label>
      </div>
      </div>
        <select id="edit_classe" name="classe_id" class="form-control mb-2" required>
          <option value="">-- Classe --</option>
          {% for c in classes %}
             <option value="{{ c.id }}">{{ c.nom }}</option>
          {% endfor %}
        </select>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Annuler</button>
        <button class="btn btn-warning rounded-pill">Modifier</button>
      </div>
    </form>
  </div>
</div>