<div class="modal fade" id="noteDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détails de la note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="noteDetailContent">
        <!-- Le JS remplira dynamiquement ce contenu -->
        <p>Chargement...</p>
      </div>
    </div>
  </div>
</div>
