
.bg-page{
    background-color: #f3f4f6;
}

.bg-image{
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    color: white;
}

.login-form{
    max-width: 400px;
    background: #fff;

}
.btn-login {
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}
.btn-login:hover {
    background-color: #4338ca;
}

.forgot-link{
    font-size: 0.9rem;
    color: #4f46e5;
    text-decoration: none;
}
.forgot-link:hover{
    text-decoration: underline;
}
