<div class="modal fade" id="detailClModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-header">
        <h5 class="modal-title">Détails des classes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
      <div class="modal-body" id="detailClContent"></div>
      <div class="modal-footer">
        <button class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>